@model Auction.Web.Models.AuctionArticleViewModel






    <div class="form-group">
        <label class="control-label">Article Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Article Description</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Starting Price</label>
        <input asp-for="StartingPrice" class="form-control" />
        <span asp-validation-for="StartingPrice" class="text-danger"></span>
    </div>
@{

    var pattern = System.Threading.Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower();
    pattern = pattern.Replace("DD", "D").Replace("D", "DD");
    pattern = pattern.Replace("MM", "M").Replace("M", "MM");
}
    <div class="form-group">
        <label class="control-label">Auction Start Date</label>
        <div class="input-group date inp-datepicker" data-format="@pattern">
        <input type="text" class="form-control" asp-for="StartTime"  />
            <span class="input-group-append">
                <span class="input-group-text bg-light d-block">
                    <i class="fa fa-calendar"></i>
                </span>
            </span>
        </div>
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Auction End Date</label>
    <div class="input-group date inp-datepicker" data-format="@pattern">
        <input type="text" class="form-control" asp-for="EndTime"  />
            <span class="input-group-append">
                <span class="input-group-text bg-light d-block">
                    <i class="fa fa-calendar"></i>
                </span>
            </span>
        </div>
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>



