@model List<Aukcija>

@{
	ViewData["Title"] = "Home Page";
}

<h1>Auction List</h1>
<div style="margin-top: 20px; margin-bottom: 10px;">
	<partial name="_AuctionFilter" model="new AuctionFilterModel()" />
</div>

<div id="index-table">
<partial name="_IndexTable" model="Model"/>
</div>